*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'outfit', sans-serif;
}
main{
    display: grid;
    width: 95vw;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;
    border-radius: 1rem;
    padding: 1rem 0rem;
    margin: 2rem auto;
}
img{
    max-inline-size: 100%;
    block-size: auto;
    object-fit: cover;
    max-width: 16rem;
    height: auto;
    border-radius: 0.5rem;
    margin-left: 0.3rem;
}
h3{
    font-size: clamp(1.25rem, 1.25rem + 0.5vw, 3rem);
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding-top: 1rem;
    text-align: center;
}
p{
    font-size: clamp(1rem ,0.875rem + 0.5vw, 2rem);
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding-top: 0.7rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    main{
        max-width: 24rem;
        height: auto;
    }
    img{
        max-width: 20rem;
        height: auto;
        margin-top: 0.5rem;
        margin-left: 0.4rem;
    }
    h3{
        font-size: clamp(1.5rem, 1rem + 0.5vw, 3.5rem);
    }
    p{
        font-size: clamp(1.2rem ,0.9rem + 0.5vw, 2.2rem);
        margin-bottom: 2rem;
        padding-top: 1rem;
    }
    
}



